body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

}
/*NavBar Section*/
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu sign-in";
    padding-right: 1em;
}

a,p {

text-decoration: none; 
color: rgba(0,0,0,0.87);
font-size: 13px;
font-family: Arial,sans-serif;
}
a:hover{
    text-decoration: underline;
}
#about { 
    grid-area: about;
    justify-self: center;
    align-self: center;
    opacity: 0.8;
}
#store { 
    grid-area:  store;
    justify-self: center;
    align-self: center;
    opacity: 0.8;
}
#gmail { 
    grid-area:  gmail;
    justify-self: center;
    align-self: center;
    
}
#images { 
    grid-area: images;
    justify-self: center;
    align-self: center; 
    margin-right: 10px;
    o
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    opacity: 0.6;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center; 
    background-color: #4683ea;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
    
}

.navbar-item {
    padding-left: 1.5em;
    margin-top: 1em;
}
/*Main*/
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas:
    ". logo ."
    ". search ."
    " . flexbox ."
    ". google-text .";
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    height: 30px;
    width: 80%;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 30px;

}
#search:focus {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15)
}
#search:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15)
}

#flexbox {
    display: flex;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
    flex-grow: 1;
}
#google-search-btn {
    border:none;
    font-size: 14px;
    color: #5F6368;
    padding: 10px 15px 10px 15px;
    margin-right: 20px;
    border-radius: 5px;

}
#random-search-btn {
    border:none;
    font-size: 14px;
    color: #5F6368;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
#google-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    color: black; 
}
#random-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    color: black; 
}

#google-text {
    grid-area: google-text;
    justify-self: center;

}
/*Footer Section*/
#footerflex {
    display: flex;
}

.container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.container>.navbar {
    flex:0;
}
.container>.main {
    flex:1;
}
.container>.footer {
    flex:0;
    background-color: rgb(243, 236, 236);
}

.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.8;
}
.footer-item {
    padding: 1em;
}
.footer>#hsw {
    flex-grow: 4;
}